@import url('https://fonts.googleapis.com/css2?family=Inika&family=Judson&family=Lora&family=Newsreader:opsz,wght@6..72,400;6..72,800&family=Noticia+Text&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.footer{
    margin-top: 5em;
    width: 100%;
    background: rgba(0, 0, 0, 0.81);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10em;
}
.img-text{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    color: #fff;
    word-wrap: break-word
}
.img-text img{
    width: 30%;
}
.redes{
    width: 30%;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.redes a{
    text-align: center;
}
.redes a img{
    width: 70%;
}

/*  Responsive  */
@media screen and (max-width: 1630px) {
    .img-text {
        width: 50%;
    }
}
@media screen and (max-width: 1500px) {
    .img-text{
        width: 40%;
    }
    .redes{
        width: 40%;
    }
}
@media screen and (max-width:1200px){
    .img-text{
        width: 60%;
    }
    .redes{
        width: 60%;
    }
}
@media screen and (max-width:1000px){
    .img-text{
        width: 70%;
    }
    .redes{
        width: 70%;
    }
}
@media screen and (max-width:900px){
    .img-text{
        width: 90%;
    }
    .redes{
        width: 90%;
    }
}
@media screen and (max-width:750px){
    .img-text{
        width: 100%;
    }
    .redes{
        width: 100%;
    }
}
@media screen and (max-width:610px){
    .footer{
        padding: 5em;
    }
}
@media screen and (max-width:540px){
    .footer{
        padding: 3em;
    }
}
@media screen and (max-width:490px){
    .footer{
        padding: 2em;
    }
    .footer{
        padding: 1em;
    }
}
@media screen and (max-width:430px){
    .footer{
        padding: 0;
    }
}
@media screen and (max-width:395px){
    .img-text h2{
        font-size: 1.3em;
    }
    .redes{
        justify-content: space-between;
        flex-wrap: wrap;
    }
}